127.0.0.1   localhost
::1         localhost
{{db_1_ip}} {{db_1_name}}
{{db_2_ip}} {{db_2_name}}
{{mq_ip}}   {{mq_name}}
{{etcd_ip}} {{etcd_name}}
{{memcached_ip}} {{memcached_name}}
{{identity_ip}} {{identity_name}}
{{image_ip}}    {{image_name}}
{{placement_ip}}    {{placement_name}}
{{block_store_ip}}  {{block_store_name}}
{{obj_store_ip}}    {{obj_store_name}}
{{network_ip}}  {{network_name}}
{{compute_ip}} {{compute_name}}
